
#experience {
    height: 350px;
}

#comfort {
    height: 100px;
    margin-top: 30px;
}

#where {
    height: 132px;
}

@media screen and (min-width:768px) {
    #experience {
        height: 400px;
    }

    #comfort {
        height: 69px;
        margin-top: 102px;
    }

    #where {
        height: 132px;
    }
}
@media screen and (min-width:1920px) {
    #experience {
        height: 500px;
    }

    #comfort {
        height: 96px;
        margin-top: 127px;
    }

    #where {
        height: 176px;
    }
}