#banner {
    width: 100%;
    height: 59px;
}

#sale {
    height: 30px;
    margin-top: -1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    padding: 0px;
}

#main-header {
    width: 100%;
    height: 75px;
}

#logo {
    height: 49px;
    margin-top: 8px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

// #nav {
//     display: none;
// }

#icons {
    display: none;
}



#nav #button {
    width: 35px;
    height: 20px;
    background: url(../images/burger.svg) no-repeat center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 165px;
    transition: all .5s ease;
    border: 0;
}

#nav #button.expanded {
    transform: rotate(90deg);
}

#burger-con {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

// #burger-con.slide-toggle {
//     display: block;
// }

// #nav ul {
//     list-style: none;
//     padding: 0px;
//     margin: 0px;
// }

// #nav ul li a {
//     display: block;
//     padding: 10px 0 10px 0;
//     text-align: center;
//     color: black;
// }

// #nav ul li a:hover {
//     color: gold;
// }

// #nav ul li {
//     border-bottom: 1px solid gold;
// }

// #nav ul li:first-child {
//     margin-bottom: 10px;
// }

// #nav ul li:last-child {
//     margin-bottom: 10px;
// }



@media screen and (min-width:768px) {

    #banner {
        height: 59px;
    }

    #sale {
    height: 30px;
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    padding: 0px;
    }

    #main-header {
        height: 75px;
    }

    #logo {
        height: 49px;
        margin-top: 9px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 30px;
    }

    #nav #button {
       display: none;
    }
    
    // #nav button.expanded {
    //     display: block;
    // }
    
    #burger-con {
        display: block;
    }
    
    #burger-con.slide-toggle {
        display: none;
    }

    #nav {
        display: block;
        height: 27px;
    }

    nav ul {
        list-style: none;
        padding: 0px;
        margin-top: -9px;
    }
    
    nav li {
        display: inline;
        margin-right: 45px;
        
        font-family: 'Montserrat', sans-serif;
    }
    
    nav a {
        text-decoration: none;
        color: black;
        font-size: 16px;
       
    }

    #icons {
        display: block;
    }

    #shop {
        height: 35px;
    }

    #burger {
        display: none;
    }
 }

@media screen and (min-width:1920px) {
   #banner {
    height: 59px;
    
   }

   #sale {
    height: 30px;
    margin-top: -2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: white;
    letter-spacing: 3px;
    padding: 0px;
   }

   #main-header {
    height: 75px;
    
   }

   #logo {
    height: 55px;
    margin-top: -10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 65px;
   }

   #nav {
    display: block;
    height: 35px;
}

#nav #button {
    display: none;
 }
 
 
 #burger-con {
     display: block;
 }
 
 #burger-con.slide-toggle {
     display: none;
 }

nav ul {
    list-style: none;
    padding: 0px;
    margin-top: -9px;
}

nav li {
    display: inline;
    margin-right: 77px;
    
    font-family: 'Montserrat', sans-serif;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
   
}

nav a:hover {
    color: gold;
}

    #icons {
    display: block;
}

    #shop {
        height: 35px;
        
    }

    #burger {
    display: none;
}
}

