

#hero {
    height: 595px;
}

#brand {

    height: 85px;
    margin-top: 279px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 83px;
    color: white;
    padding: 0px;

}

#heroslogan {
    height: 64px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 3px;

   
}

#button {
    height: 31px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 3px;
}



@media screen and (min-width:768px) {

    #hero {
        height: 600px;
    }

    #brand {
        height: 91px;
        margin-top: 265px;
        margin-bottom: 0px;
        color: white;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 100px;
        padding: 0px;

    }

    #heroslogan {
        height: 48px;
        margin-top: 38px;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        padding: 6px;

    }

    #button {
        height: 35px;
        margin-top: 20px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 4px;
    }

}

@media screen and (min-width:1920px) {

    #hero {
        height: 800px;
    }

    #brand {
        height: 180px;
        margin-top: 300px;
        margin-bottom: 0px;
        color: white;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 160px;
        padding: 0px;

    }

    #heroslogan {
        height: 48px;
        margin-top: -75px;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        padding: 6px;

    }

    #button {
        height: 48px;
        margin-top: -69px;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding: 4px;
    }

    }

