
 
    
  model-viewer {
    width: auto;
    max-width: 1920px;
    height: 900px;
    background-color: rgb(157, 164, 105);
    margin: 0 auto;
  }

  .Hotspot:focus {
    border: 4px solid rgb(120, 132, 31);
    height: 32px;
    outline: none;
    width: 32px;
  }

  .Hotspot {
    background-image: url(../images/hotspot.svg);
    opacity: 1;
    border: 0px;
    width: 100%;
    height: 100%;
    // display: block;
    transition: all .5s ease-in-out;
    transform: translate(-50%);
  }

  .Hotspot:not([data-visible]) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(calc(-50% + 4px));
    transition: transform 0.3s, opacity 0.3s;

    
  }


  .HotspotAnnotation{
   
    background: rgb(41, 89, 65);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: calc(100% + 1em);
    
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
    text-align: left;
  }

  .HotspotAnnotation h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Staatliches', sans-serif;
  }

  .HotspotAnnotation p {
    color: black;
    line-height: 20px;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
  }

  .HotspotAnnotation img {
    max-width: 250px;
    border-radius: 10px;
  }

  model-viewer::part(default-progress-bar) {
    height: 40px;
    background-color: rgb(120, 132, 31);
  }
  
  /* AR Rules */
  
  #ar-button {
    background-image: url("../images/ar_icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 16px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#000000;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
  }
  
  #ar-button:active {
    background-color: #E8EAED;
  }
  
  #ar-button:focus {
    outline: none;
  }
  
  #ar-button:focus-visible {
    outline: 1px solid #63f442;
  }
  
  @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }
  
  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }
  
  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }
  
  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }
  
  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }


