
#explode-view {
    max-width: 100%;
}

.gsap-marker-end {
    opacity: 0;
}

.gsap-marker-start {
    opacity: 0;
}

.gsap-marker-scroller-end {
    opacity: 0;
}

.gsap-marker-scroller-start {
    opacity: 0;
}

