
#slogan {
    height: 50px;
}

#sectionslogan {
    height: 68px;
    margin-top: 15px;
    font-family: 'El Messiri', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: black;
}


@media screen and (min-width:768px) {
    #slogan {
        height: 60px;
    }

    #sectionslogan {
        height: 61px;
        margin-top: 12px;
        font-family: 'El Messiri', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        color: black;
    }
}
@media screen and (min-width:1920px) {
    #slogan {
        height: 99px;
    }

    #sectionslogan {
        height: 78px;
        margin-top: 0px;
        font-family: 'El Messiri', sans-serif;
        font-size: 75px;
        letter-spacing: 6px;
        color: black;
        
    }
}