
#slogan {
    height: 50px;
}

#sectionslogan {
    height: 68px;
    margin-top: -4px;
    font-family: 'El Messiri', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}


@media screen and (min-width:768px) {
    #slogan {
        height: 60px;
    }

    #sectionslogan {
        height: 61px;
        margin-top: -9px;
        font-family: 'El Messiri', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
    }
}
@media screen and (min-width:1920px) {
    #slogan {
        height: 99px;
    }

    #sectionslogan {
        height: 78px;
        margin-top: -21px;
        font-family: 'El Messiri', sans-serif;
        font-size: 75px;
        letter-spacing: 6px;
        color: rgb(255, 255, 255);
        
    }
}