
#tunein {
    height: 486px;
    padding: 0px;
}

#because {
    height: 93px;
    margin-top: 146px;
    font-family: 'El Messiri', sans-serif;
    font-size: 22px;
    text-align: left;
    color: white;
    grid-row: 1/1;
}

#tune {
    height: 203px;
    margin-top: 278px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    grid-row: 1/1;
}



@media screen and (min-width:768px) {
    #tunein {
        height: 500px;
        padding: 0px;
    }

    #because {
        height: 93px;
        margin-top: 217px;
        font-family: 'El Messiri', sans-serif;
        font-size: 35px;
        text-align: left;
        color: white;
        grid-row: 1/1;
    }

    #tune {
        height: 81px;
        margin-top: 365px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        color: white;
        grid-row: 1/1;
    }
}


@media screen and (min-width:1920px) {
    #tunein {
        height: 600px;
        padding: 0px;
    }

    #because {
        height: 178px;
        margin-top: 195px;
        font-family: 'El Messiri', sans-serif;
        font-size: 50px;
        text-align: left;
        color: white;
        grid-row: 1/1;
    }

    #tune {
        height: 137px;
        margin-top: 420px;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        text-align: left;
        color: white;
        grid-row: 1/1;
    }

    // .earbud {
    //     position: absolute;
	   
    // }

    #earbud1 {
        max-width: 500%;
        position: relative;
	    top: 50%;
	    left: 1100%;
        transform: translate(-50%,-50%);
	    visibility: visible;
    }

    #earbud2 {
        max-width: 300%;
        position: relative;
	    top: 30%;
	    left: 100%;
        transform: translate(-50%,-50%);
	    visibility: visible;
    }

}