
#xray {
    height: 900px;
}

#xraytext {
    margin-top: 400px;
    font-size: 30px;
}

@media screen and (min-width:768px) {
    #xray {
        height: 500px;
    }

    #xraytext {
        margin-top: 260px;
        font-size: 30px;
    }

}
@media screen and (min-width:1920px) {
    #xray {
        height: 600px;
    }

    #xraytext {
        margin-top: 307px;
        font-size: 30px;
    }
}